<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<p>DEPARTMENT!</p>
<body>
    
 
 
<div class="row">
    <div class="col-md-6 mt-2">
        <form [formGroup]="deptGroup">
            <div class="form-group">
                <label for="departmentName"> <b>Department Id</b></label>&nbsp;
                <input type="text" formControlName="departmentId" />&nbsp;
                <input type="button" value="Search" (click)="searchDepartment()" />
            </div>
            <br/>
        <div class="form-group">
            <label for="departmentName"><b> Department Name</b></label>&nbsp;
            <input type="text" formControlName="departmentName" placeholder="Enter Department Name" required />
            <div style="color: red;" *ngIf="deptGroup.controls.departmentName.errors && deptGroup.controls.departmentName.touched"> Enter Department Name</div>
            <!-- <select formControlName="departmentName" class="form-control">
                <option>Orthopedics</option>
                <option>Neurologist</option>
            </select> -->
        
        </div>
        <br/>
        <!-- <div class="form-group">
            <label>Department</label>
            <select formControlName="departmentId" class="form-control">
                <option></option>
                <option value="{{dept.departmentId}}" *ngFor="let dept of departmentList">{{dept.departmentName}}</option>
            </select>
        </div> -->
    
<div>

    &nbsp;<input type="button" value="Save" (click)="saveDepartment()" class="btn btn-sm btn-primary"/> &nbsp;
    <input type="button" value="Delete" (click)="deleteDepartment()" class="btn btn-sm btn-danger" />&nbsp;
    <input type="button" value="Update" (click)="updateDepartment()" class="btn btn-sm btn-dark" />
 
</div>
</form>
</div>
 
<div class="col-md-6">
    <table class="table table-striped">
        <tr>
            <th>Department Id</th>
            <th>Department Name</th>
            
        </tr>
        <tr *ngFor="let dept of departmentList">
            <td>{{dept.departmentId}}</td>
            <td>{{dept.departmentName | uppercase}}</td>
        
        </tr>
    </table>
 
</div>
</div>
</body>
</html>