<p>INPATIENT</p>
<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            background-image: linear-gradient(to right bottom, #cae195, #ddd183, #edc07a, #f9ae7c, #ff9d86, #f4948a, #e88b8d, #da848f, #c07f85, #a6797c, #8c7374, #716c6c);
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-6 mt-2">
    <form [formGroup]="inpatGroup">
    
    
        <div class="form-group">
    <label for="inPatientId"> <b>Inpatient Id</b> </label>&nbsp;
    <input type="text" formControlName="inPatientId"/>&nbsp;
    <input type="button"value="Search" (click)="searchInPatient()"/>
    </div>
    
    <div class="form-group">
    <label for="patientId"><b>Patient Id</b>  </label> &nbsp;
    <input type="text" formControlName="patientId" class="form-control" placeholder="Enter PatientId" required/> &nbsp;
    <div style="color: red;" *ngIf="inpatGroup.controls.patientId.errors && inpatGroup.controls.patientId.touched"> Enter Patient Id</div>&nbsp;
    </div>
    
    <div class="form-group">
    <label for="doctorId"><b> Doctor Id </b></label>&nbsp;
    <input type="text" formControlName="doctorId" class="form-control" placeholder="Enter DoctorId" required/>
    </div><br/>
    
    <div class="form-group">
    <label for="admissionDate"><b>Admission Date</b></label>&nbsp;
    <input type="text" formControlName="admissionDate"class="form-control" placeholder="Enter Admission Date" required/>&nbsp;
    <div style="color: red;" *ngIf="inpatGroup.controls.admissionDate.errors && inpatGroup.controls.admissionDate.touched"> Enter Admission Date </div>
    </div>
    
    <div class="form-group">
    <label for="roomId"><b>Room Id</b></label> &nbsp;
    <input type="text" formControlName="roomId" class="form-control" placeholder="Enter RoomId" required/>
    </div><br/>
    
    <div>
    &nbsp;<input type="button" value="Save" (click)="saveInPatient()" class="btn btn-sm btn-primary"/>&nbsp;
    <input type="button" value="Delete" (click)="deleteInPatient()" class="btn btn-sm btn-danger"/>&nbsp;
    <input type="button" value="Update" (click)="updateInPatient()" class="btn btn-sm btn-dark"/>
    </div>
    </form>
    </div>
    <br/>
    <div class="col-md-6">
    <table class="table table-striped">
    <tr>
    <th>InPatient Id</th>
    <th>Patient Id</th>
    <th>Doctor Id</th>
    <th>Admission Date</th>
    <th>Room Id</th>
    </tr>
    <tr *ngFor="let inpat of inpatientList">
    <td>{{inpat.inPatientId}}</td>
    <td>{{inpat.patientId}}</td>
    <td>{{inpat.doctorId}}</td>
    <td>{{inpat.admissionDate | uppercase}}</td>
    <td>{{inpat.roomId}}</td>
    </tr>
    </table>
     
    </div>
    </div>
    </body>
    </html>